{{ define "main" }}
<article class="box:border-box">
    <header class="mb:32">
        <div class="font:40 font:extrabold">{{ .Title }}</div>
        {{- if isset .Params "banner" -}}
        {{ $image := resources.Get .Params.banner }}
        <img class="mt:16" src="{{ $image.RelPermalink }}" width="{{ $image.Width }}">
        {{- end -}}
        <div class="mt:16 f:fade-60">
            {{- if isset .Params "date" -}}
            {{ if eq .Lastmod .Date }}
            <time>{{ .Date | time.Format (":date_medium") }}</time>
            {{ else }}
            <time>{{ .Lastmod | time.Format (":date_medium") }}</time>
            {{ end }}
            {{- end -}}
        </div>
    </header>
    {{- partial "prose.html" . -}}
</article>
{{ end }}
