<footer class="py:24 text:center">
    <div class="f:fade-30 f:14 mb:8">{{ .Site.Params.copyright }}</div>
    <div class="social-icons" style="display: flex; justify-content: center;">
        <a href="https://www.instagram.com/krjstian/" class="social-icon" style="margin: 0 10px;"><img src="/instagram_icon.webp" alt="Instagram" style="width: 20px; height: 20px;"></a>
        <a href="https://www.youtube.com/channel/UCFKKnRk58GLWIjbWz7GXGEg?" class="social-icon" style="margin: 0 10px;"><img src="/youtube_icon.webp" alt="YouTube" style="width: 20px; height: 20px;"></a>
        <a href="https://soundcloud.com/kristian-de-leon-460345877" class="social-icon" style="margin: 0 10px;"><img src="/soundcloud_icon.webp" alt="SoundCloud" style="width: 20px; height: 20px;"></a>
    </div>
</footer>
